/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #sidebyside {
    padding: 50px 0;
  }
  #sidebyside .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #sidebyside .content {
    order: 2;
    margin: auto;
    margin-top: 4.6875em;
    max-width: 38.1875em;
  }
  #sidebyside .content h2 {
    font-size: 3em;
    margin-bottom: 0.875em;
  }
  #sidebyside .content p {
    margin-bottom: 1.11111111em;
  }
  #sidebyside .content ul {
    padding-left: 1.25em;
    margin-bottom: 1.25em;
  }
  #sidebyside .content ul li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #sidebyside .content ul li img {
    margin-right: 0.625em;
    margin-top: 0.22222222em;
  }
  #sidebyside .content .button-solid {
    margin-top: 1.78571429em;
  }
  #sidebyside .image-box {
    display: block;
    position: relative;
    margin: auto;
    width: 38.1875em;
    height: 53.8125em;
    font-size: min(1.4vw, 1em);
  }
  #sidebyside .image-box:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: var(--primary);
    opacity: 1;
    top: 2.5em;
    left: -2.5em;
  }
  #sidebyside .image-box:after {
    content: '';
    position: absolute;
    display: block;
    height: 32.25em;
    width: 28.75em;
    background: url("/images/content-circles.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    top: -14.125em;
    right: -6.8125em;
    z-index: -1;
  }
  #sidebyside .image-box img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Inbetween */
@media only screen and (min-width: 666px) {
  #sidebyside {
    padding: 6.25em 0;
  }
}
/* Small Desktop */
@media only screen and (min-width: 1300px) {
  #sidebyside {
    padding: 9.375em 0;
  }
  #sidebyside .container {
    max-width: 86.9375em;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  #sidebyside .content {
    margin: 0;
    width: 60%;
  }
  #sidebyside .image-box {
    margin: 0;
    margin-right: 10.625em;
  }
}
/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #cta {
    position: relative;
    padding: 3.125em 0;
  }
  #cta:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta .container {
    text-align: center;
  }
  #cta picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  #cta picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #cta .title {
    font-weight: 900;
    font-size: min(9vw, 3em);
    line-height: 1.20833333;
    color: #fff;
    position: relative;
    margin-bottom: 0.75em;
    text-align: center;
  }
  #cta p {
    color: #fff;
    text-align: center;
    opacity: 1;
    margin: auto;
    margin-bottom: 2em;
    width: 96%;
    max-width: 33.22222222em;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #cta {
    padding: 10.5em 0;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #cta {
    position: relative;
    margin-top: 6.25em;
  }
  #cta:before {
    display: none;
  }
  #cta:after {
    content: '';
    position: absolute;
    display: block;
    height: 69.25em;
    width: 125em;
    background: url("../images/cta-squares.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -3;
  }
  #cta .container {
    width: 90.0625%;
    margin: auto;
  }
  #cta picture {
    width: 90.0625%;
    left: 50%;
    transform: translateX(-50%);
  }
  #cta picture:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
/*-- -------------------------- -->
<---          Team                -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  .team {
    border-radius: 0.3125em;
    margin: auto;
    margin-top: 2em;
    position: relative;
    z-index: 100;
    background: #fff;
    width: 90%;
    max-width: 82.5em;
    padding: 3.125em 1.25em;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    margin-bottom: 3.125em;
    text-align: center;
    /* Ensures h1 is centered */
    display: flex;
    flex-direction: column;
    /* Ensures h1 is above cards in a column format */
    align-items: center;
    /* Center align the children */
    justify-content: center;
  }
  .team h1 {
    margin-bottom: 3.125em;
    /* Space between h1 and cards */
    font-size: 2em;
    /* Responsive font size */
    color: #1a1a1a;
    /* Styling the h1 element */
  }
  .team .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* Ensures cards remain in row and wrap as needed */
    justify-content: space-between;
    /* Spacing between cards */
  }
  .team .container .card {
    display: block;
    width: 100%;
    max-width: 22.3125em;
    margin: auto;
    margin-bottom: 3.125em;
  }
  .team .container .card picture {
    background: var(--primary);
    width: 9.875em;
    height: 9.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 1.4375em;
    border-radius: 50%;
  }
  .team .container .card picture img {
    width: 9.25em;
    height: 8.625em;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 20%;
  }
  .team .container .card h2 {
    text-align: center;
    font-size: 2em;
    line-height: 1.05em;
    font-weight: 700;
    color: #1a1a1a;
    width: 100%;
    margin-bottom: 0.65em;
  }
  .team .container .card h3 {
    text-align: center;
    font-size: 1.3125em;
    line-height: 1.35em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.65em;
  }
  .team .container .card p {
    text-align: center;
    line-height: 1.33333333em;
    font-size: 1.125em;
    width: 100%;
    opacity: .8;
  }
}
/* Inbetween */
@media only screen and (min-width: 768px) {
  .team {
    padding: 3.125em 5em;
    min-width: 100%;
    text-align: center;
    /* Ensures h1 is centered */
    display: flex;
    flex-direction: column;
    /* Ensures h1 is above cards in a column format */
    align-items: center;
    /* Center align the children */
    justify-content: center;
  }
  .team h1 {
    margin-bottom: 1.5em;
    /* Space between h1 and cards */
    font-size: 3em;
    /* Responsive font size */
    color: #1a1a1a;
    /* Styling the h1 element */
  }
  .team .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* Ensures cards remain in row and wrap as needed */
    justify-content: space-around;
    /* Spacing between cards */
  }
  .team .container .card {
    max-width: 17.8125em;
    height: 100%;
  }
  .team .container .card h2 {
    text-align: center;
    font-size: 2em;
    line-height: 1.35em;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 0.25em;
  }
  .team .container .card h3 {
    text-align: center;
    font-size: 1.375em;
    line-height: 1.35em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.5em;
  }
  .team .container .card p {
    text-align: center;
    line-height: 1.33333333em;
    font-size: 1em;
    width: 100%;
    opacity: .8;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  .team {
    padding: 3.125em 5em;
    min-width: 100%;
    text-align: center;
    /* Ensures h1 is centered */
    display: flex;
    flex-direction: column;
    /* Ensures h1 is above cards in a column format */
    align-items: center;
    /* Center align the children */
    justify-content: center;
  }
  .team h1 {
    margin-bottom: 1.5em;
    /* Space between h1 and cards */
    font-size: 3em;
    /* Responsive font size */
    color: #1a1a1a;
    /* Styling the h1 element */
  }
  .team .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* Ensures cards remain in row and wrap as needed */
    justify-content: space-around;
    /* Spacing between cards */
  }
  .team .container .card {
    max-width: 17.8125em;
    height: 100%;
  }
  .team .container .card h2 {
    text-align: center;
    font-size: 2em;
    line-height: 1.35em;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 0.25em;
  }
  .team .container .card h3 {
    text-align: center;
    font-size: 1.375em;
    line-height: 1.35em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.5em;
  }
  .team .container .card p {
    text-align: center;
    line-height: 1.33333333em;
    font-size: 1em;
    width: 100%;
    opacity: .8;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #cta:after {
    display: none;
  }
  body.dark-mode .team {
    background: var(--dark);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    color: #fff;
  }
  body.dark-mode .team .card {
    background: var(--dark);
    color: #fff;
  }
  body.dark-mode .team .card h2 {
    color: #fff;
  }
}
